body { 
            background-image: url(img/bg.png) ;
            background-position: center center;
            background-repeat:  no-repeat;
            background-attachment: fixed;
            background-size:  cover;
            background-color: #999;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.8;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #dadada;
}
li.user-dropdown {
    float: right;
	margin-right: 5%;
}
.user-dropdown img {
	width: 10%;
	border-radius: 50%;
}
.user-dropdown-content {
    display: none;
    position: absolute;
	background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.user-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.user-dropdown:hover .user-dropdown-content {
    display: block;
}